.projects-section {
  background: var(--gradient1);
  height: 50vh;
}
.section {
  padding: 50px 40px;

  font-size: 20px;
  font-family: var(--font-family-1);

  h2 {
    font-size: 40px;
    color: var(--c-text-secondary);

    border-bottom: 1px solid var(--text-shadow);
    // margin: 20px 40px;
    text-align: left;
    text-shadow: 2px 2px var(--text-shadow);
  }
}
