.dark-mode {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 300px;
}

.theme-switcher {
  background-color: var(--c-bg-secondary);
  border-radius: 10px;
  display: flex;
  padding: 0 3px;
  align-items: center;
  position: relative;
  overflow: hidden;
  .slider {
    display: block;
    position: absolute;
    z-index: 1;
    width: calc((100% - 6px) / 3);
    top: 3px;
    transform: translatex(-110%);
    bottom: 3px;
    border-radius: 6px;
    transition: 0.15s ease, transform 0.25s ease-out;
    background-color: var(--c-bg-button);
    box-shadow: var(--slider-shadow);
  }

  input {
    display: none;

    &:nth-of-type(1):checked ~ .slider {
      transform: translateX(0);
    }

    &:nth-of-type(2):checked ~ .slider {
      transform: translateX(100%);
    }

    &:nth-of-type(3):checked ~ .slider {
      transform: translateX(200%);
    }
  }
  label {
    position: relative;
    z-index: 2;
    width: calc(100% / 3);
    color: var(--c-text-primary);

    span {
      padding: 8px 0;
      border-radius: 6px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 500;
    }

    svg,
    img {
      display: inline-block;
      margin-right: 0.5rem;
      width: 20px;
      height: 20px;
      color: var(--c-text-primary);
      g {
        fill: var(--c-text-primary);
      }
      path {
        stroke: var(--c-text-primary);
      }
    }
  }
}
