.contact-section {
  min-height: 50vh;
  text-align: left;
  font-family: var(--font-family-1);
  position: relative;
  background: var(--bottom-gradient1);
  background: linear-gradient(
    0deg,
    var(--bottom-gradient2) 0%,
    var(--bottom-gradient3) 86%,
    var(--bottom-gradient4) 100%
  );
  h2 {
    font-size: 44px;
    text-shadow: 2px 2px var(--text-shadow);
  }

  h3 {
    font-size: 40px;
    text-shadow: 2px 2px var(--text-shadow);
    color: var(--c-text-tertiary);
    margin: 20px 0;
  }
}

.contact-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 100px;
  //   margin: 10px 20px;
  margin-bottom: 0;
  label {
    padding-bottom: 10px;
    text-shadow: 2px 2px (--text-shadow);
    color: var(--c-text-primary);
  }

  input {
    background-color: #fbfbfb;
    height: 40px;
    line-height: 40px;
    outline: none;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 6px;
    box-shadow: 1px 1px #9e9e9e;
    &:focus {
      border: 1px solid #333;
    }
    &:hover {
      border: 1px solid #333;
    }
  }
  textarea {
    background-color: #fbfbfb;
    box-shadow: 1px 1px #9e9e9e;
    min-height: 100px;
    outline: none;
    border: none;
    padding: 15px 10px;
    font-size: 16px;
    border-radius: 6px;
    &:focus {
      border: 1px solid #333;
    }
    &:hover {
      border: 1px solid #333;
    }
  }
}
.field {
  display: grid;
  align-content: start;
  //   margin: 0 20px;
  &.name {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-right: 40px;
  }
  // &.mail {
  //   order: 2;
  //   flex: 0 0 50%;
  // }
  &.message {
    grid-column-start: 4;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
  }
  &.send {
    grid-column-start: 2;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
    input {
      // width: 400px;
      height: 40px;
      line-height: 32px;
      // display: block;
      // margin: 0 auto;
      background-color: #efb822;
      cursor: pointer;
      color: #980f0f;
      font-weight: bold;
      &:hover {
        border: none;
        background-color: #dfaa06;
      }
    }
  }
}
.modal {
  display: none;
  visibility: hidden;
  height: 100px;
  width: 80%;
  background: #676767e8;
  text-align: center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  position: absolute;
  top: 30%;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 2;
  &.modal-show {
    display: flex;
    visibility: visible;
  }
}
