@import "../../sassStyles/variables";
@import "../../sassStyles/mixins";
@import "../../sassStyles/global";
@import "../../sassStyles/typography";

.header {
  padding: 5px 0;
  overflow-x: clip;
  background-color: var(--c-bg-primary);
  .wrapper {
    display: flex;
    align-items: center;
    min-height: 50px;
    position: relative;
    padding: 0 32px;
    margin: 0 auto;
    max-width: 100%;
    justify-content: space-between;
  }
  .header-logo {
    flex-shrink: 0;
    img {
      width: 100px;
      height: auto;
    }
  }
  .logo {
    position: relative;
    vertical-align: top;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    font-size: 23px;
    text-decoration: none;
    color: inherit;
    user-select: none;
  }
  .logo-text {
    display: inline-block;
    vertical-align: top;
  }
}

.nav {
  width: 100%;
  height: 65px;
  //   position: fixed;
  line-height: 65px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  .header-logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    text-decoration: none;
    color: $black;
    font-size: 2.5rem;
    width: 2.5em;
    height: 3.2em;
    margin: 0.4em 1em 0 0.5em;
    display: inline-block;
    img {
      width: 100px;
    }

    a {
      text-decoration: none;
      color: $black;
      font-size: 2.5rem;
      &:hover {
        color: #445a17;
      }
    }
  }
}
.navbar {
  z-index: 5;
}
.main_list {
  height: 65px;
  float: right;
  ul {
    width: 100%;
    // height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-direction: column;
    li {
      width: auto;
      height: 50px;
      padding: 0 2rem;
      white-space: nowrap;
      a {
        text-decoration: none;
        color: $white;
        line-height: 50px;
        font-size: 2rem;
        font-weight: bold;
        &:hover {
          color: #daaf08;
        }
      }
    }
  }
}

.navTrigger {
  display: none;
}

#eyes {
  position: relative;
  .eye {
    position: absolute;
    width: 8px;
    top: -16px;
    left: -70px;
    &:last-child {
      left: -60px;
    }
  }
}

.logo {
  transition: all 0.5s;
  -webkit-text-stroke: 1px #000000;
  //   font-variation-settings: "wght" 900, "ital" 1;
  font-size: 30px;
  text-align: center;
  color: transparent;
  //   font-family: "Meta", sans-serif;
  text-shadow: 3px 3px 0px #07bccc, 4px 4px 0px #e601c0, 5px 5px 0px #e9019a;
  cursor: pointer;
}

.logo:hover {
  //   font-variation-settings: "wght" 100, "ital" 0;
  // font-family: "Miltonian", cursive;
  // text-shadow: none;
}

//TODO fix later

#menu-bar {
  width: 45px;
  height: 40px;
  margin: 20px;
  cursor: pointer;
}

.bar {
  height: 5px;
  width: 100%;
  background-color: #dc052d;
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}

#bar1 {
  transform: translateY(-4px);
}

#bar3 {
  transform: translateY(4px);
}

.nav {
  transition: 0.3s ease;
  display: none;
}

.nav ul {
  padding: 0 17px;
}

.nav li {
  list-style: none;
  padding: 12px 0;
}

.nav li a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}

.nav li a:hover {
  font-weight: 400;
}

.menu-bg,
#menu {
  top: 50px;
  right: 0;
  position: absolute;
  z-index: 10;
}

.menu-bg {
  z-index: -1;
  width: 0;
  height: 0;
  margin: 30px 0 20px 20px;
  background: radial-gradient(circle, #dc052d, #dc052d);
  border-radius: 50%;
  transition: 0.3s ease;
}

.change {
  display: block;
}

.change .bar {
  background-color: white;
}

.change #bar1 {
  transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
  opacity: 0;
}

.change #bar3 {
  transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
  width: 520px;
  height: 460px;
  transform: translate(45%, -30%);
}
.christmas-light {
  visibility: var(--xmas-mode-visible);
  display: var(--xmas-mode-display);
  height: 0;
  z-index: -2;
}
#hat {
  position: absolute;
  width: 30px;
  height: auto;
  top: 34px;
  left: 0;
  right: 0;
  margin: 0 auto;
  visibility: var(--xmas-mode-visible);
  display: var(--xmas-mode-display);
}

#beard {
  position: absolute;
  width: 30px;
  height: auto;
  top: 64px;
  left: -12px;
  right: 0;
  margin: 0 auto;
  visibility: var(--xmas-mode-visible);
  display: var(--xmas-mode-display);
}

#helmet {
  position: absolute;
  width: 40px;
  height: auto;
  top: 40px;
  left: -12px;
  right: 0;
  margin: 0 auto;
  visibility: var(--dark-mode-visible);
  display: var(--dark-mode-display);
}

.light {
  width: 100%;
}
