@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .App {
    .header {
      .wrapper {
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    #nav {
      display: block;
      flex-direction: row;
      .navlinks {
        flex-direction: row;
        a {
          color: $black;
          &:hover {
            color: SpringGreen;
          }
        }
      }
    }
    #menu,
    #menu-bg {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .App {
    #nav {
      position: relative;
      right: 40px;
      top: 20px;
    }
  }
}

@media screen and (max-width: 350px) {
  .App {
    #nav {
      right: 50%;
      top: 20px;
    }
  }
}
