@import "./global";

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .App {
    .header {
      .wrapper {
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    #nav {
      display: block;
      flex-direction: row;
      .navlinks {
        flex-direction: row;
        a {
          color: var(--c-text-primary);
          font-weight: bold;
          transition: all 0.5s ease;
          text-shadow: 2px 2px var(--text-shadow);
          &:hover {
            color: var(--c-text-tertiary);
            text-decoration: underline;
            transition: all 0.5s ease;
          }
        }
      }
    }
    #menu,
    #menu-bg {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .App {
    #nav {
      position: relative;
      right: 40px;
      top: 20px;
    }
  }
}

@media screen and (max-width: 350px) {
  .App {
    #nav {
      right: 50%;
      top: 20px;
    }
  }
}

@media screen and (max-width: 880px) {
  .App {
    .main-section {
      h1 {
        font-size: 40px;
        .name {
          font-size: 50px;
        }
        .big-one {
          font-size: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 678px) {
  .App {
    .main-section {
      h1 {
        font-size: 40px;
        width: 50%;
        min-height: auto;
        .name {
          font-size: 50px;
        }
        .big-one {
          font-size: 40px;
        }
      }
      .right-side {
        width: 55%;
        .big-one {
          font-size: 20px;
        }
      }
    }
    .candy-container {
      img {
        width: 80px;
      }
    }
    .toy-container {
      img {
        width: 60px;
      }
    }
    .sock-container {
      img {
        width: 80px;
      }
    }
  }
  .contact-form {
    .field {
      &.name {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
      &.mail {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 2;
      }
      &.message {
        grid-column-start: 4;
        grid-column-end: 1;
        grid-row-start: 3;
        grid-row-end: 3;
      }
      &.send {
        grid-column-start: 3;
        grid-column-end: 1;
        grid-row-start: 5;
        grid-row-end: 5;
        input {
          line-height: 30px;
        }
      }
    }
  }
  .section {
    h2 {
      font-size: 30px !important;
    }
    h3 {
      font-size: 28px !important;
    }
  }
}

@media screen and (min-width: 679px) and (max-width: 880px) {
  .App {
    .main-section {
      .right-side {
        width: 70%;
        .big-one {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .App {
    .main-section {
      h1 {
        width: 80%;
        .name {
          font-size: 36px;
        }
        .big-one {
          font-size: 28px;
          margin-top: 14px;
        }
        .small-one {
          font-size: 20px;
        }
      }
      .right-side {
        width: 45%;
        .big-one {
          font-size: 14px;
        }
      }
    }
  }
}

html,
body {
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }
}
