@media screen and (min-width: 768px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .App {
    .header {
      .wrapper {
        padding: 0 10px;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .navbar {
    #nav {
      display: block;
      flex-direction: row;
      .navlinks {
        flex-direction: row;
        a {
          color: $white;
          font-weight: bold;
          &:hover {
            color: #feff2f;
            text-decoration: underline;
          }
        }
      }
    }
    #menu,
    #menu-bg {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .App {
    #nav {
      position: relative;
      right: 40px;
      top: 20px;
    }
  }
}

@media screen and (max-width: 350px) {
  .App {
    #nav {
      right: 50%;
      top: 20px;
    }
  }
}

@media screen and (max-width: 880px) {
  .App {
    .main-section {
      h1 {
        font-size: 40px;
        .name {
          font-size: 50px;
        }
        .big-one {
          font-size: 40px;
        }
      }
    }
  }
}
@media screen and (max-width: 678px) {
  .App {
    .main-section {
      h1 {
        font-size: 40px;
        width: 50%;
        min-height: auto;
        .name {
          font-size: 50px;
        }
        .big-one {
          font-size: 40px;
        }
      }
      .right-side {
        width: 55%;
        .big-one {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (min-width: 679px) and (max-width: 880px) {
  .App {
    .main-section {
      .right-side {
        width: 70%;
        .big-one {
          font-size: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .App {
    .main-section {
      h1 {
        width: 80%;
        .name {
          font-size: 38px;
        }
        .big-one {
          font-size: 30px;
          margin-top: 20px;
        }
        .small-one {
          font-size: 20px;
        }
      }
      .right-side {
        width: 45%;
        .big-one {
          font-size: 16px;
        }
      }
    }
  }
}

html,
body {
  scroll-behavior: smooth;
}

@media (max-width: 800px) {
  html,
  body {
    overflow-x: hidden;
  }
}
